
body h1{
    text-align: center;
    
}
table{
width: 100%;
text-align: center;
padding: 15px;



}
th{
    background-color: brown;
    color: blue;
    border: 10px;
}
 tr{
 color: purple;
 }

 h3{
    color: brown;
 }
 tr:nth-child(even){
    background-color: blueviolet;
    color: blue;
 }
 tr:nth-child(odd){
    background-color: grey;
    color: tomato;
 }


